<% include partials/header %>

<div class="authorise">
   <p>Authorise with Strava</p>
   <a class="button" href="https://www.strava.com/oauth/authorize?client_id=32111&response_type=code&redirect_uri=http://localhost:3000&approval_prompt=force">Authorise Now</a>
</div>  

<% include partials/footer %>